.DS_Store
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.ipynb_checkpoints/

renv/library/
renv/staging/

data/processed/*
artifacts/*
results/figures/*
results/tables/*

*.o
*.so
*.dylib
*.dll
stan/*.rds
